In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

df = pd.read_csv('./datasets/Expanded_data_with_more_features.csv')
df = df.dropna()
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
5,5,female,group B,associate's degree,standard,none,married,regularly,yes,1.0,school_bus,5 - 10,73,84,79
6,6,female,group B,some college,standard,completed,widowed,never,no,1.0,private,5 - 10,85,93,89
7,7,male,group B,some college,free/reduced,none,married,sometimes,yes,1.0,private,> 10,41,43,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30635,794,male,group C,some college,standard,none,married,regularly,no,2.0,school_bus,5 - 10,58,53,49
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

# 1. Скільки студентів і студенток у наборі даних?

In [2]:
count_male = df[df['Gender'] == 'male'].shape[0]
count_female = df[df['Gender'] == 'female'].shape[0]

print("Кількість чоловіків у наборі даних:", count_male)
print("Кількість жінок у наборі даних:", count_female)

Кількість чоловіків у наборі даних: 9468
Кількість жінок у наборі даних: 9775

# 2. Який відсоток студентів чоловічої статі в наборі даних?

In [3]:
male_count = len(df[df['Gender'] == 'male'])

total_count = len(df)

male_percentage = (male_count / total_count) * 100

print(f"Відсоток студентів чоловічої статі: {male_percentage}%")

Відсоток студентів чоловічої статі: 49.202307332536506%

# 3. Який відсоток студенток у наборі даних?

In [4]:
female_count = len(df[df['Gender'] == 'female'])

total_count = len(df)

female_percentage = (female_count / total_count) * 100

print(f"Відсоток студентів жіночої статі: {female_percentage}%")

Відсоток студентів жіночої статі: 50.79769266746349%

# 4. Яка етнічна група має найвищий середній бал з математики?

In [5]:
average_math_score_by_ethnicity = df.groupby('EthnicGroup')['MathScore'].mean()

ethnicity_with_highest_average_math_score = average_math_score_by_ethnicity.idxmax()
highest_average_math_score = average_math_score_by_ethnicity.max()

print("Етнічна група з найвищим середнім балом з математики:", ethnicity_with_highest_average_math_score)
print("Найвищий середній бал з математики:", highest_average_math_score)

Етнічна група з найвищим середнім балом з математики: group E
Найвищий середній бал з математики: 75.27433628318585

# 5. Яка етнічна група має найвищий середній бал читання?

In [6]:
average_math_score_by_ethnicity = df.groupby('EthnicGroup')['ReadingScore'].mean()

ethnicity_with_highest_average_math_score = average_math_score_by_ethnicity.idxmax()
highest_average_math_score = average_math_score_by_ethnicity.max()

print("Етнічна група з найвищим середнім балом з читання:", ethnicity_with_highest_average_math_score)
print("Найвищий середній бал з читання:", highest_average_math_score)

Етнічна група з найвищим середнім балом з читання: group E
Найвищий середній бал з читання: 74.43510324483776

# 6. Яка етнічна група має найвищий середній бал з письма?

In [7]:
average_math_score_by_ethnicity = df.groupby('EthnicGroup')['WritingScore'].mean()

ethnicity_with_highest_average_math_score = average_math_score_by_ethnicity.idxmax()
highest_average_math_score = average_math_score_by_ethnicity.max()

print("Етнічна група з найвищим середнім балом з письма:", ethnicity_with_highest_average_math_score)
print("Найвищий середній бал з письма:", highest_average_math_score)

Етнічна група з найвищим середнім балом з письма: group E
Найвищий середній бал з письма: 72.88606194690266

# 7. Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?

In [8]:

# Вибір рядків, де курс підготовки до тесту завершено і обчислення середнього балу з математики
average_score_test_prep_completed = df[df['TestPrep'] == 'completed']['MathScore'].mean()

print("Середній бал з математики для студентів, які закінчили курс підготовки до тесту:", average_score_test_prep_completed)

Середній бал з математики для студентів, які закінчили курс підготовки до тесту: 69.64963942307692

# 8. Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?

In [9]:

average_score_test_prep_completed = df[df['TestPrep'] == 'completed']['ReadingScore'].mean()

print("Середній бал з читання для студентів, які закінчили курс підготовки до тесту:", average_score_test_prep_completed)

Середній бал з читання для студентів, які закінчили курс підготовки до тесту: 73.85982572115384

# 9. Який середній бал для студентів, які закінчили курс підготовки до тесту?

In [10]:

average_math_score_test_prep_completed = df[df['TestPrep'] == 'completed']['MathScore'].mean()
average_reading_score_test_prep_completed = df[df['TestPrep'] == 'completed']['ReadingScore'].mean()
average_writing_score_test_prep_completed = df[df['TestPrep'] == 'completed']['WritingScore'].mean()
average_score_test_prep_completed = (average_math_score_test_prep_completed + average_reading_score_test_prep_completed + average_writing_score_test_prep_completed)/3

print("Середній бал для студентів, які закінчили курс підготовки до тесту:", average_score_test_prep_completed)

Середній бал для студентів, які закінчили курс підготовки до тесту: 72.79081530448718

# 10. Скільки студентів мають одружених батьків?

In [11]:
#10
married_parents = len(df[df['ParentMaritalStatus'] == 'married'])
print(f"Кількість студентів, що мають одружених батьків: {married_parents}")

Кількість студентів, що мають одружених батьків: 11009

# 11. Скільки студентів мають батьків-одинаків?

In [12]:
#11
single_parents = len(df[df['ParentMaritalStatus'] == 'single'])
print(f"Кількість студентів, що мають батьків-одинаків: {single_parents}")

Кількість студентів, що мають батьків-одинаків: 4608

# 12. Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не       займається спортом?

In [13]:
#12
sport_regulary = df[df['PracticeSport'] == 'regularly']
sport_never = df[df['PracticeSport'] == 'never']

average_math_score_sport_regulary = sport_regulary['MathScore'].mean()
average_math_score_sport_never = sport_never['MathScore'].mean()

print(f"Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не займається спортом?: {average_math_score_sport_regulary > average_math_score_sport_never}")

Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не займається спортом?: True

# 13. Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання, ніж ті, хто ніколи не займається спортом?

In [14]:
#13
sport_regulary = df[df['PracticeSport'] == 'regularly']
sport_never = df[df['PracticeSport'] == 'never']

average_read_score_sport_regulary = sport_regulary['ReadingScore'].mean()
average_read_score_sport_never = sport_never['ReadingScore'].mean()

print(f"Чи студенти, які регулярно займаються спортом, мають вищі середні результати з читання, ніж ті, хто ніколи не займається спортом?: {average_read_score_sport_regulary > average_read_score_sport_never}")

Чи студенти, які регулярно займаються спортом, мають вищі середні результати з читання, ніж ті, хто ніколи не займається спортом?: True

# 14. Скільки учнів користується шкільним автобусом, щоб дістатися до школи?

In [15]:
#14
bus = len(df[df['TransportMeans'] == 'school_bus'])
print(f"Кількість учнів, що користується шкільним автобусом, щоб дістатися до школи: {bus}")

Кількість учнів, що користується шкільним автобусом, щоб дістатися до школи: 11280

# 15. Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [16]:
#15
private = len(df[df['TransportMeans'] == 'private'])
print(f"Кількість учнів, що користується приватним транспортом, щоб дістатися до школи: {private}")

Кількість учнів, що користується приватним транспортом, щоб дістатися до школи: 7963

# Передбачте, чи завершив студент курс підготовки до іспиту, на основі його демографічних та академічних даних.
   Вхідні дані:
Gender, EthnicGroup, ParentEduc, LunchType, ParentMaritalStatus, PracticeSport, IsFirstChild, NrSiblings,       TransportMeans, WklyStudyHours, MathScore, ReadingScore, WritingScore
   Результат: TestPrep

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


X = df[['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild', 'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore', 'ReadingScore', 'WritingScore']]
y = df['TestPrep']

X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = X[:15000], X[15000:], y[:15000], y[15000:]

model = DecisionTreeClassifier(random_state=42)

param_grid = {
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(model, param_grid, cv=5)
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
print("Найкращі параметри:", best_params)

best_score = grid_search.best_score_
print("Найкраща точність на навчальному наборі:", best_score)

best_model = grid_search.best_estimator_
predictions = best_model.predict(X_test)
test_accuracy = accuracy_score(y_test, predictions)
print("Точність на тестовому наборі:", test_accuracy)

Найкращі параметри: {'max_depth': 10, 'min_samples_leaf': 4, 'min_samples_split': 10}
Найкраща точність на навчальному наборі: 0.7024
Точність на тестовому наборі: 0.7046900777751591